# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Storage
storage/

# Environment
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Next.js
frontend/.next/
frontend/node_modules/
frontend/out/

# Docker
*.log